.olx-page {
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 100px;
  }
  
  .olx-form {
    width: 600px; /* Define a largura do formulário */
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    padding-bottom: 60px; /* Espaçamento vertical entre os grupos de inputs */
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
    
    
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px; /* Bordas arredondadas */
    border: 1px solid #ccc;
  }
  
  .buttonanuncio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 160px;
    height: 100px;
    width: 250px; 
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Bordas arredondadas */
  }
  
  button:hover {
    background-color: #0056b3;
  }

  textarea {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    resize: none; /* Impede o ajuste de tamanho */
  }

  .h11 {
    font-size: 40px;

  }
  
  .input-group {
    margin-bottom: 0px;
    padding: 20px; /* Espaçamento vertical entre os inputs */
  }
  
  .input-group:last-child {
    margin-bottom: 0; /* Remove o espaçamento do último input */
  }