.painel-controle{
    width: 100%;
    height: 400px;
    background-color: #171717;
    padding: 30px 180px;
    border-radius: 25px;
}

.painel-controle-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.painel-item{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.painel-item .concluidos, .pendentes{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    border: 10px solid green;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.service-pendente{
    border: 10px solid orangered;
}


.painel-item h3, .painel-item-ganhos h3{
    color: white;
    font-size: 30px;
}

.concluido, .pendente{
    color: green;
    font-size: 80px;
    font-weight: 500;
}

.color-pendente{
    color: orangered;
}

.painel-item-ganhos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 400px;
    background-color: #0F0F0F;
    border-radius: 25px;
    border: 1px solid rgb(58, 55, 55);
    height: 200px;
    padding: 15px;
}

.ganhos{
    border: 10px solid #98FB98;
}

.ganho{
    font-size: 30px;
    color: #98FB98;
}