.center{
    display: flex;
    justify-content: center;
}

.table{
    max-height:520px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        height: 6px;
        width: 6px;
      }
  
      &::-webkit-scrollbar-track {
        background-color: #171717
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 100vh !important;
        background-color: #171717;
        outline: 1px solid rgba(0, 0, 0, 0.02);
        outline-offset: -1px;
      }
}