.btn-back,
.btn-next {
    padding: 12px;
    border: none;
    background-color: #1e8efb;
    border-radius: 100%;
    cursor: pointer;
}

.icon-back{
    width: 25px;
    height: 25px;
    color: black;
}

.icon-next{
    rotate: 180deg;
}

.div{
    position: relative;
}

.buttons-next-back{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom:2rem;
    position: absolute;
    top: 45%;
    left: 1%;
    z-index: 2500;
}

.slick-arrow{
    display: none !important;
}