.anuncio-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .anuncio-card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .anuncio-card .card-body {
    padding: 10px;
  }
  
  .anuncio-card .card-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .anuncio-card .card-text {
    margin-bottom: 5px;
  }